<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>



  <%= render 'review' %>

 <dl class="dl-horizontal">
  <dt></dt>
  <dd><h4 class="page-header"> Reviews: </h4></dd>
   <% @reviews.each do |review| %>
  <dt>Name</dt>
  <dd> <%= review.user_id  %> </dd>
  <dt>Rating</dt>
  <dd> <%= review.rating  %> </dd>
  <dt>Created at:</dt>
  <dd> <%= review.created_at.to_formatted_s(:long_ordinal)   %> </dd>
  <dt>Product Review:</dt>
  <dd><%= review.description  %> </dd>
  <br/> 
  <% end %>

 </dl>
    
    </div>
      </div>
    </div>


  </article>

</section>
